<form class="question-form" method="POST" action="/ask">
	<label id="question-label" for="question">What do you want to ask?</label>
	<input type="text" id="question" name="question" placeholder="Your question here (e.g. What is your favorite color?)">
	<label for="category">Category:</label>
	<select name="category">
		<option value="zz">Select a category</option>
		<option value="fi">Finance</option>
		<option value="fr">Friendly</option>
		<option value="ed">Education</option>
		<option value="en">Entertainment</option>
		<option value="na">Nature</option>
		<option value="ps">Products and Services</option>
		<option value="re">Relationships</option>
		<option value="sc">Science</option>
		<option value="te">Tech</option>
		<option value="tr">Travel</option>
		<option value="ot">Other</option>
	</select>
	<input type="text" name="choice1" placeholder="Choice 1">
	<input type="text" name="choice2" placeholder="Choice 2">
	<!-- Figure out how to dynamically add choices on click event -->
	<button id="add-choice">Add another choice.</button>
	<input type="submit" value="Send out to the masses.">
</form>

<script>
	$(document).ready(function() {
	    var max_fields      = 6; //maximum input boxes allowed
	    var wrapper         = $(".question-form"); //Fields wrapper
	    var add_button      = $("#add-choice"); //Add button ID
	    
	    var x = 2; //initlal text box count
	    $(add_button).click(function(e){ //on add input button click
	        e.preventDefault();
	        if(x < max_fields){ //max input box allowed
	            x++; //text box increment
	            $('<div><input type="text" name="choice' + x + '" placeholder="Choice ' + x + '"/><a href="#" class="remove-field">Remove</a></div>').insertBefore("#add-choice"); //add input box
	        }
    });
    
    $(wrapper).on("click",".remove-field", function(e){ //user click on remove text
        e.preventDefault(); 
        if (x > 2) {
        	$(this).parent('div').remove(); 
        	x--;
        }
    	})
	});
</script>