<form method="POST" action="ask">
	<input type="text" name="question" placeholder="What do you want to ask?">
	<input type="text" name="choice1" placeholder="Choice 1">
	<input type="text" name="choice2" placeholder="Choice 2">
	<!-- Figure out how to dynamically add choices on click event -->
	<button id="addChoice">Add another choice.</button>
	<input type="submit" value="Send out to the masses.">
</form>