@import './base.css';
@import './style.css';

.body {
  width: 140%;
  margin-left: -20%;
  margin-top: 3em;
}

.charttext {
  display: none; /*don't display labels on mobile. only tooltip*/
}

.vote-form {
  width: 100%;
}

.question-form {
  width: 90%;
}

input.btn-vote {
  background: rgba(255, 255, 255, .6);
  font-family: 'Dosis', sans-serif;
  font-size: 1.1em;
}

.results ul {
  margin-top: 10em;
}

/******* OVERWRITE LOGIN STYLES *******/
.login-form {
  margin: auto;
}
