body {
  color: #333;
  margin: auto;
  margin-top: 3em;
  width: 60%;
}

.question-text {
  text-align: center;
  font-size: 2em;
  color: #333;
  clear: both;
  font-family: 'Old Standard TT', serif;
  margin-top: .5em;
}

/* VOTE FORM STYLES */

.vote-form {
  width: 80%;
  margin: auto;
}

.vote-form input[type=radio]:hover {
  cursor: pointer;
}

.vote-form label {
  line-height: 1.5em;
}

.options {
  width: 100%;
  background: rgba(255, 255, 255, .7);
  padding: 1em;
  margin-bottom: .5em;
  margin-top: .5em;
  border: 2px solid white;
}

.results {
  width: 80%;
}

.submit-button {
  background: rgba(255, 255, 255, .7);
  color: #333;
  clear: both;
  width: 15%;
  text-align: center;
  margin-top: .5em;
  border: 1px solid #ddd;
  padding: .5em;
  font-family: 'Prata', serif;
  font-size: 1em;
}

.submit-button:hover {
  background: rgba(255, 255, 255, .4);
  cursor: pointer;
}

.numvotes {
  padding-left: 2em;
  float: right;
}

/* END VOTE FORM STYLING */

.question-detail, .results {
  padding: 1em;
  margin: auto;
  font-family: 'Prata', serif;
  font-size: 1em;
  background: rgba(255, 255, 255, .7);
}

.question-detail {
  border: 2px solid white;
  background: rgba(255, 255, 255, .8);
  box-shadow: 0px 0px 10px #ccc;
  transition: background-color 0.2s ease;
}

.question-detail:hover {
  background: rgba(255, 255, 255, .9);
}

.question-info {
  text-align: right;
  font-size: .75em;
}

.results, .results ul li {
  font-size: 1em;
  font-family: 'Prata', serif;

}

.result {
  margin-top: .5em;
  margin-bottom: .5em;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  background-image: -moz-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  background-image: -ms-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b);
  background-image: -o-linear-gradient(left, #8c8b8b, #f0f0f0, #8c8b8b); 
  display: block;
  width: 90%;
}

/* STYLES FOR /ASK */
.question-form {
  background: rgba(255, 255, 255, .7);
  width: 60%;
  margin: auto;
  margin-top: 10%;
  padding: 1em;
  border: 3px solid white;
}

.question-form * {
  font-family: 'Prata', serif;
  font-size: .9em;
}

.question-form input[type="submit"] {
  height: 3em;
  width: 100%;
  outline: 0;
  color: white;
  border: none;
  background-color: #538;
}

.question-form input[type="submit"]:hover {
  cursor: pointer;
  opacity: .8;
}

#question-label {
  font-size: 1.1em;
}

/* CHART STYLES */
#tooltip {
  color: white;
  opacity: .8;
  background: #666;
  padding: 3px;
  padding-left: 10px;
  border: 1px solid white;
  border-radius: 5px;
  position: absolute;
  width: 9em;
  z-index: 20;
  visibility: hidden;
  pointer-events: none;
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;
}