@import './base.css';
@import './style.css';
@import './mobile.css';

.charttext {
  display: block;
}

.vote-form {
  width: 90%;
  margin-left: auto;
}

svg {
  height: 400px;
  width: 100%;
}

.results {
  margin-bottom: auto;
}
